/* grid */
.grid {
    padding: 5%;
    list-style: none;
    position: relative;
    width: 100%;
    height: 90%;
}

.gridBox {
    font-size: 0.4em;
    padding: 8px;
    border-radius: 5%;
    margin: 5px;
    width: 75px;
    height: 75px;
}

.grid li {
	position: relative;
	float: left;
	font-size: 12em;
	line-height: 1.5;
	max-height: 290px;
	text-align: center;
	width: 16.6666667%;
	/* Fallback */
	width: -webkit-calc(100% / 6);
	width: calc(100% / 6);
}

/* Common styles for the letters */
.grid li span {
	display: inline-block;
	font-weight: 900;
	line-height: 1;
	position: relative;
	color: hsla(0, 0%, 0%, 0.6);
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 550px;
	-ms-perspective: 550px;
	perspective: 550px;
	z-index: 1;
}

.grid li span:before,
.grid li span:after {
	position: absolute;
	content: attr(data-letter);
	line-height: inherit;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.grid li span:before {
	text-shadow: none;
	color: hsla(0, 0%, 0%, 0.12);
}

/* Example for media query: change number of items per row */
@media screen and (max-width: 1190px) {
	.grid li {
		width: 20%;
		/* Fallback */
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
	}
}

@media screen and (max-width: 945px) {
	.grid li {
		width: 25%;
		/* Fallback */
		width: -webkit-calc(100% / 4);
		width: calc(100% / 4);
	}
}

@media screen and (max-width: 760px) {
	.grid li {
		width: 33.3333333%;
		/* Fallback */
		width: -webkit-calc(100% / 3);
		width: calc(100% / 3);
	}
}

@media screen and (max-width: 560px) {
	.grid li {
		width: 50%;
		/* Fallback */
		width: -webkit-calc(100% / 2);
		width: calc(100% / 2);
	}
}

@media screen and (max-width: 400px) {
	.grid li {
        width: 33.3333333%;
        /* Fallback */
        width: -webkit-calc(100% / 3);
        width: calc(100% / 3);
	}
}