@charset "UTF-8"

@media screen and (max-device-width: 640px){
    
}

/* page all */
body {
	background: #FAF0EA;
	background: -moz-linear-gradient(top, #FAF0EA 0%, #E9DCC8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAF0EA), color-stop(100%, #E9DCC8));
	background: -webkit-linear-gradient(top, #FAF0EA 0%, #E9DCC8 100%);
	background: -o-linear-gradient(top, #FAF0EA 0%, #E9DCC8 100%);
}
h1 { font: bold 50px Helvetica, Arial, Sans-serif; text-align: center; color: #eee; text-shadow: 0px 2px 6px #333; }
h1 small{ font-size: 20px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; margin-top:10px; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 40px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }
input[type=text]{
	font-size: 17px;

}
.scroll {
	height: inherit;
}

.fade-bar {
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 1;
    background-color: #000;
    display: none;
}

.hidden {
	display: none;
}

.textCenter {
	text-align: center;
}

.center {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 10%;
}

.widthBtn {
	width: 30%;
}

.iconDown {
	top: 37px;
}

/* page home */
.sliderHome {
	width: 90%;
	height: 90%;
	margin: auto;
	margin-top: 5%;
	border-radius: 9px;
}

/* side left */
div.title.sidemenuHeaderSize {
	font-size: 37px;
	top: 5px;
}

	/* page post */
	.postTitleWidth {
		color:#fdfafa;
		width: 20%;
	}
	
	#postInput{
		position: fixed;
		color: #504444;
		width: 70%;
		height: 1.4em;
		background: #CA792E;
		border-radius: 5px;
		font-size: 1.2em;
	}
	
	input.postCommentInput {
		color: #504444;
		max-width: 100%;
		height: 1.4em;
		background: rgba(241, 235, 235, 0.59);
		border-radius: 5px;
		font-size: 1.2em;
		position: relative;
		padding: 6px;
		margin: -5px -5px;
	}
	
	.customInput {
		background: rgba(255,255,255,0);
		border: none;
	}
	
	.showPhotoBox {
		width: 150px;
		height: 150px;
		margin-left: 25%;
		position: relative;
		background: rgba(220,31,220,0.51);
	}
	.showPhoto {
		width: 150px;
		height: 150px;
		position: static;
	}
	
	/* page my posting */
	
	
	.postBtnTop {
		top: 2px;
	}
	
	
	.photoBtn {
		width: 90%;
		left: 5%;
	}
	
	/* page my posting list */
	
	
	/* page my posting list map */
	#myPostingMap {
		width: 97%;
		height: 95%;
		top : 3px;
		margin:1.5%;
		box-shadow:0 3px 25px black;
	}
	
	/* page my check list */
	
	
	/* page my like list */
	
	
	/* page my comments list */
	
	
	/* page sign in */
	
	
	/* page sign out */



/* side right */
	/* page posting list */
	.customTop {
		top: 34px;
	}

    .gridBoxPhoto {
        padding: 2px;
        border-radius: 100%;
    }

    .postImg {
        width: 100%;
        border-radius: 100%;
    }

	.popMap {
		position: absolute;
		top: 42px;
		left: 0%;
		width: 100%;
		height: 290px;
		z-index: 9999999;
		margin: auto;
		box-shadow: black 0px 3px 25px;
		overflow: hidden;
		-webkit-transform: translateZ(0px);
		background:rgba(255,255,255,0);
	}
	
	.popPhoto {
		position: absolute;
		top: 43px;
		left: 2%;
		width: 96%;
		height: 260px;
		z-index: 9999999;
		margin: auto;
		overflow: hidden;
		-webkit-transform: translateZ(0px);
		background:rgba(255,255,255,0);
	}
	
	.popColor {
		background:rgba(255,255,255,0);
	}
	
	.popContentPhoto {
		position: relative;
		margin-left: 12.5%;
		width: 75%;
		max-height: 90%;
		border: white 2px solid;
		overflow: scroll;
		box-shadow: 0 3px 25px black;
		background:rgba(255,255,255,0);
	}
	
	.popComments {
		position: fixed;
		z-index: 3333;
		top: 45px;
		margin-left: 1%;
		width: 98%;
		height: 390px;
		overflow: visible;
		box-shadow: 0 3px 25px black;
		background: rgba(255,255,255,0);
	}
	
	.marginCenter {
		margin: auto 45%;
	}
	
	.hidden {
		display: none;
	}
	
	.textTotal {
		position: relative;
		top: 10px;
		margin: -12px 12px;
		font-size: 1.5em;
	}
		
	.stamp {
		width: 80px;
		height: 80px;
		display: inline-block;
		padding: 10px;
		background: white;
		position: relative;
		-webkit-filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.5));
		background: radial-gradient( transparent 0px, transparent 4px, white 4px, white );
		background-size: 20px 20px;
		background-position: -10px -10px;  
		/*reducing the gradient size*/
		background-size: 20px 20px;
		/*Offset to move the holes to the edge*/
		background-position: -10px -10px;
	}
	
	#imgPost {
		border-radius: 3%;
		max-width: 67px;
		max-height: 67px;
		width: 67px;
		height: 67px;
		margin: -4px -3px;
		position: relative;
		z-index: 4;
		padding: 3px;
		background: rgba(223, 222, 220, 0.49);
		box-shadow: 0px .5px .5px .5px #0A0A0A;
	}
	
	.barChartTotal {
		display: inline-block;
		width: 40%;
		position: absolute;
		margin: 5px 15px;
		z-index: 10;
	}
	
	.barChart {
		display: block;
		width: 98%;
		position: absolute;
		z-index: 10;
		top: 1%;
		left: 1%;
	}

	.postBtn {
		position: absolute;
		height: 30px;
		width: 35px;
		top: 57px;
		right: 5px;
		margin: 3px;
		padding: 2px 5px 4px 5px;
		background: rgba(118, 133, 245, 0.51);
	}
	
	.postDetailBox {
		position: relative;
		top: 12px;
		width: 100%;
		height: 60px;
	}
	.postComment {
		width: 23%;
		height: 35px;
		padding: 1% 7%;
		background: rgba(118, 133, 245, 0.51);
	}
	
	.comments {
		margin-top: -60px;
		width: 150px;
	}
	
	.scroll:last-child {
		margin-bottom: 50px;
	}
	
	/* bubble chat */
	.showComments{
		position: absolute;
		top: 0px;
		left: 0px;
	}
	
	.styleChat {
		border:none;
		position: relative;
		right:2%;
		background:rgba(255,255,255,0);
	}
	
	.talk-bubble {
		margin: 0px;
		display: inline-block;
		position: relative;
		width: 200px;
		height: auto;
		background-color: rgba(255, 255, 224, 0.57);
	}
	
	.round{
	  	border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
	}
	
	.tri-right.left-in:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: -22px;
		right: auto;
		top: 25px;
		bottom: auto;
		border: 12px solid;
		border-color: rgba(255, 255, 224, 0.57) rgba(255, 255, 224, 0.57) transparent transparent;
	}
	
	.talktext{
		padding: 1em;
		text-align: left;
		line-height: 1.5em;
	}
	.talktext p{
		/* remove webkit p margins */
		-webkit-margin-before: 0em;
		-webkit-margin-after: 0em;
	}
			
	/* page posting list map */
	#map {
		width: 97%;
		height: 95%;
		top : 3px;
		margin:1.5%;
		box-shadow:0 3px 25px black;
	}
	
	.btnPopClose{
		position: fixed;
		top: 258px;
		right: -7px;
		display: block;
		z-index: 5;
		width: 50px;
		height: 80px;
	}
	
	
	/* page like list */


/* google map inside */
	/* 지도 팝업 아이콘 설정 */
	.iconFav {
	    display: block;
	    margin: auto;
		width: 150px;
		height: 150px;
		border-radius: 100%;
		box-shadow: -4px -5px 7px rgba(0, 0, 0, 0.2) inset;
	    background: url(img/iconThumb.png) no-repeat 29px 38px;
		background-size: 85px 85px;
	}
	
	/* 구글맵 팝업 inforWindow customizing */
	.gm-style-iw{ /* 팝업공통 */
		overflow: hidden;	
	}
	
	#topPopup{ /* 지도팝업 영역 */
		width: 200px;
		height: 260px;
	}
	
	#titlePopup{ /* 팝업 헤드라인 */
		width: 86%;
		padding: 0.5em 0.6em 0.2em 0.7em;
		border-radius: 4px;
		background-color: rgba(91,166,222,0.24);
		box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.2) inset;
		font-family: sans-serif;
		font-size: 0.9em;
		color: #403205;
		text-shadow: 2px 2px 1px rgba(215, 169, 17, 0.85);
	}
	
	#topImg{ /* 팝업 이미지 */
		width: 180px;
		height: 180px;
		border-radius: 3%;
		border-bottom: white 2px solid;
		border-right: white 2px solid;
		box-shadow: 1px 1px 1px #888888;	
	}
	
	.thumbUp, .thumbDown{
		display: block;
		position: absolute;
		width: 93px;
		height: 93px;
		border-radius: 90px;
		top: 37px;
		left: 106px;
		box-shadow: -4px -5px 7px rgba(0, 0, 0, 0.2) inset;
		display: none;
	}
	
	.thumbUp {
		background: url('img/iconThumb.png') no-repeat 11px 15px;
		background-size: 65px 65px;
	}
	
	.thumbDown{
		background: url(img/iconThumbDown.png) no-repeat 11px 15px;
		background-size: 65px 65px;
	}
	
	#bottomPopup{ /* 팝업 하단 컨텐츠 영역*/
		display: none;
		width: 99%;
		overflow: hidden;
		background-color: rgba(176, 238, 201, 0.43);
		border-radius: 4px;
		margin-top: 0.7em;
		box-shadow: 1px 1px 1px #888888;
	}
	
	#bottomPopupContents{ /* 팝업 하단 컨텐츠 내용 */
		margin: 0.5em;
		font-family: cursive, sans-serif;
		font-size: 1.3em;
		color: #403205;
		text-shadow: 2px 2px 1px rgba(215, 169, 17, 0.85);	
	}










/* -------?? */
#list {
	margin: 30px auto;
	width: 170px;
	font-size: 20px;
}
#list ol {
	margin-top: 30px;
}
#list ol li {
	margin: 10px 0px;
	list-style: decimal;
	text-align: left;
}



	